<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>Pages:</p>
    <ul>
        <li><a href="page/console.html" target="mushu-console">实时控制台</a></li>
        <li><a href="page/usage.html" target="mushu-usage">使用示例</a></li>
        <li><a href="test.html" target="mushu-test">内置示例页面</a></li>        
    </ul>    
</body>
</html>